{extend name='base/base'}
{block name='content'}
<div class="container" style="margin-top:40px;">
  
	<div class="col-md-6" style="float:left"> 
                <button id='btn' class="btn btn-default">全部排序</button>
                <button id='btn1' class="btn btn-default">全部倒序</button>

                
      </div>
      <div style="float:right">
          <form action="chaxun" method="post">
              <div class="input-group">

                <input type="text" list="pasta" name='search' class="form-control" placeholder="输入信息搜索" style="width: 80%">
                <span class="input-group-btn" style="margin-left:0px;float: left;">
                  <button class="btn btn-default" type="submit" >Go!</button>
                </span>
                <datalist id="pasta">
                  {foreach $arr2 as $vvv}
                     <option>{$vvv['city']}</option>
                  {/foreach}
                </datalist>
              </div>
          </form>
      </div>
<form action="delall" onsubmit="return ddd()" method="post">
	<table id='tb' class="table table-bordered">
      <tr align="center" >
        <th style="text-align: center">全选<input type="checkbox" id="quan"  value=""></th>
      	<th style="text-align: center">序号</th>
      	<th style="text-align: center">姓名</th>
      	<th style="text-align: center">手机号</th>
      	<th style="text-align: center">QQ</th>
      	<th style="text-align: center">城市</th>
      	<th style="text-align: center">备注</th>
      	<th style="text-align: center" colspan="2">操作</th>
      </tr>
      {foreach $arr as $v}
      <tr align="center">
          <td><input type="checkbox" class="ddd" name="id{$v['id']}" value="{$v['id']}"></td>
      	  <td class="active">{$v['id']}</td>
          <td class="warning">{$v['userName']}</td>
    		  <td class="success">{$v['phoneNumber']}</td>
    		  <td class="warning">{$v['QQ']}</td>
    		  <td class="danger">{$v['city']}</td>
    		  <td class="info">{$v['comment']}</td>
    		  <td class="info"><a href="udt?id={$v['id']}">修改</a></td>
    		  <td class="info"><a href="del?ad={$v['id']}" onclick="return del()">删除</a></td>
      </tr>
      {/foreach}
  </table>
  <button type="submit" class="btn btn-default" onclick="return del()">批量删除</button>
</form>
  {if isset($page)}
  <div class="container" style="text-align: center;">
     {$page}  
  </div>
  
  {/if}
</div>
{/block}
{block name='js'}
<script> 
  function del()
  {
    return confirm('确定删除吗?');
  }
	btn.onclick=function()
    {
    	window.location.assign('lista');
    }
    btn1.onclick=function()
    {
    	window.location.assign('shijian');
    }
    function ddd()
    {
      var bb=document.getElementsByClassName('ddd');
      if(bb[0].checked==false&&bb[1].checked==false&&bb[2].checked==false&&bb[3].checked==false&&bb[4].checked==false){
        return false;
      }
    }
    quan.onclick=function()
    {
     
      var bb=document.getElementsByClassName('ddd');
      
      for(var i=0;i<bb.length;i++)
      {
        if(bb[i].checked==false)
        {
          bb[i].checked=true;
        }
        else
        {
          bb[i].checked=false;
        }
      }
    }
    /*btn2.onclick=function()
    {
      $.ajax([
             type:'post',
             url:'delall',
             data:{

             }
        ]);
    }*/
</script>
{/block}