{extend name='base/base'}
{block name='content'}
<div class="container" style="text-align: center;margin-top:40px">
    <h2 style="font-family:华文新魏;">输入QQ号码进行查询</h2>
	<form action="qq" onsubmit="return sss()" method="post">
		<textarea placeholder="请输入QQ号码(用空格或换行隔开,不能有符号出现)"  name="content"  id="txt" cols="70" rows="10" style="resize: none;margin:0 auto;border-radius: 10px;" >
			
		</textarea>
		<div style="height:40px;"></div>
		<button type="submit"  class="btn btn-default btn-lg btn-block" style="width:200px;margin:0 auto;">点击查询</button>
	</form>
</div>  

{if isset($arr1)}
<div class="container">
	<table class="table table-bordered">
			<caption align="center"><h3 style="color:#000;font-family:华文新魏">可用QQ号码表</h3></caption>
			<tr align="center" style="font-weight:bold;">
				<td>号码</td>
			</tr>
			<tr align="center">
				<td class="info" style="font-size:28px;">
			{foreach $arr1 as $vv}
		    
			 <input type="hidden" name="num[]" id="number" value="{$vv}">{$vv}<br>
			
		    {/foreach}
		        </td>
		    </tr>
		</table>
</div>
{/if}
{if isset($arr)}
<div class="container">
	<table align="center" class="table table-bordered" >
		<caption align="center"><h3 style="color:#000;font-family:华文新魏">不可用QQ号码表</h3></caption>
		<tr align="center" style="font-weight: bold;">
			<td>编号</td>
			<td>姓名</td>
			<td>手机号</td>
			<td>QQ</td>
			<td>所在城市</td>
			<td>备注信息</td>
		</tr>
		{foreach $arr as $vv2}
		{foreach $vv2 as $vv1}
		<tr align="center">
			<td class="active">{$vv1['id']}</td>
			<td class="warning">{$vv1['userName']}</td>
			<td class="success">{$vv1['phoneNumber']}</td>
			<td class="danger">{$vv1['QQ']}</td>
			<td class="info">{$vv1['city']}</td>
			<td class="warning">{$vv1['comment']}</td>
		</tr>
		{/foreach}
		{/foreach}
	</table>
</div>
{/if}
{/block}
{/block}
{block name='js'}
<script>
	function sss()
	{
		if(document.getElementById('txt').value.length!=0)
		{
			return true;
		}
		else
		{
			alert('输入数据不能为空！');
			return false;
		}

	}
</script>
{/block}